# 📌 Environment Variables
.env*
!.env.example

# 📌 Temporal files
.tmp

# 📌 Automatically created file, more info here: https://discourse.gohugo.io/t/what-is-the-hugo-build-lock-file/35417/4
.hugo_build.lock